@import "components/grid";

body {
  padding: 0;
  overflow-x: hidden;
}

#header {
  padding-top: 0;
  ul.cart li.container {
    padding-right: 0;
    width: auto;

  }
}

.flexslider .slides img {
  width: 100%;
}

.woocommerce-product-search {
  border: 0;
  .button {
    background-color: #ff0000;
  }

}

@media only screen and (min-width: 769px) {
  #navigation {
    background-color: #ff0000;
  }
  #main.fullwidth, .layout-full #main, .col-full {
    max-width: 100%;
  }
  #header .header-top .row .account {
    max-width: 270px;
    float: right;
  }
  .woocommerce-product-search .search-field {
    width: 80%;
  }

  #header .header-top {
    padding-bottom: 1.327em;
    .row #logo {
      margin-top: -30px;
    }
  }

  #navigation .nav a {
    color: #fff;
  }

  #header ul.cart li.container a.cart-contents span.contents {
    background-color: #ff0000;
  }

  #navigation ul.nav > li.current_page_item a, #navigation ul.nav li.current-menu-ancestor a, #navigation ul.nav li.current-cat a, #navigation ul.nav li.current-menu-item a {
    color: #ffffff;
    background: #bf1515;
  }

  #navigation .nav a:hover, #navigation .nav a:focus, #navigation .nav a:active {
    background: #bf1515;
  }
  #navigation ul.nav > li.parent:hover a {
    background: #bf1515;
  }

}